## Basic Structured Operations

### Step 1: Initialize PySpark Session

In [7]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("day2").getOrCreate()

23/08/30 15:00:32 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

### Step 2: Load the Dataset

In [8]:
# Load the Chipotle dataset into a Spark DataFrame
data_path = "occupation.csv"  # Replace with the actual path
occupation = spark.read.csv(data_path, header=True, inferSchema=True)

In [3]:
occupation.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- zip_code: string (nullable = true)

### Problem 1: Selecting Specific Columns
Problem: Select the "user_id," "age," and "occupation" columns from the occupation DataFrame.

In [5]:
q1 = occupation.select('user_id',"age","occupation")
q1.show()

+-------+---+-------------+
|user_id|age|   occupation|
+-------+---+-------------+
|      1| 24|   technician|
|      2| 53|        other|
|      3| 23|       writer|
|      4| 24|   technician|
|      5| 33|        other|
|      6| 42|    executive|
|      7| 57|administrator|
|      8| 36|administrator|
|      9| 29|      student|
|     10| 53|       lawyer|
|     11| 39|        other|
|     12| 28|        other|
|     13| 47|     educator|
|     14| 45|    scientist|
|     15| 49|     educator|
|     16| 21|entertainment|
|     17| 30|   programmer|
|     18| 35|        other|
|     19| 40|    librarian|
|     20| 42|    homemaker|
+-------+---+-------------+
only showing top 20 rows

### Problem 2: Filtering Rows based on Condition
Problem: Find the users who are older than 30 years from the occupation DataFrame.

In [11]:
older_than_30 = occupation.filter(occupation.age>30)
older_than_30.show()

+-------+---+------+-------------+--------+
|user_id|age|gender|   occupation|zip_code|
+-------+---+------+-------------+--------+
|      2| 53|     F|        other|   94043|
|      5| 33|     F|        other|   15213|
|      6| 42|     M|    executive|   98101|
|      7| 57|     M|administrator|   91344|
|      8| 36|     M|administrator|   05201|
|     10| 53|     M|       lawyer|   90703|
|     11| 39|     F|        other|   30329|
|     13| 47|     M|     educator|   29206|
|     14| 45|     M|    scientist|   55106|
|     15| 49|     F|     educator|   97301|
|     18| 35|     F|        other|   37212|
|     19| 40|     M|    librarian|   02138|
|     20| 42|     F|    homemaker|   95660|
|     25| 39|     M|     engineer|   55107|
|     26| 49|     M|     engineer|   21044|
|     27| 40|     F|    librarian|   30030|
|     28| 32|     M|       writer|   55369|
|     29| 41|     M|   programmer|   94043|
|     34| 38|     F|administrator|   42141|
|     39| 41|     M|entertainment|   01040|
+-------+---+------+-------------+--------+
only showing top 20 rows

### Problem 3: Counting and Grouping
Problem: Count the number of users in each occupation from the occupation DataFrame.

In [14]:
occupation.groupBy("occupation").count().withColumnRenamed("count","user_count").show()

+-------------+----------+
|   occupation|user_count|
+-------------+----------+
|    librarian|        51|
|      retired|        14|
|       lawyer|        12|
|         none|         9|
|       writer|        45|
|   programmer|        66|
|    marketing|        26|
|        other|       105|
|    executive|        32|
|    scientist|        31|
|      student|       196|
|     salesman|        12|
|       artist|        28|
|   technician|        27|
|administrator|        79|
|     engineer|        67|
|   healthcare|        16|
|     educator|        95|
|entertainment|        18|
|    homemaker|         7|
+-------------+----------+
only showing top 20 rows

### Problem 4: Adding a New Column
Problem: Add a new column "age_group" to the occupation DataFrame based on the age of the users. Divide users into age groups: "18-25", "26-35", "36-50", and "51+".

In [15]:
from pyspark.sql.functions import col,when

In [17]:
age_grp = occupation.withColumn("age_group",
                      when((occupation.age).between(18,25), "18-25")
                      .when((occupation.age).between(26,35), "26-35")
                      .when((occupation.age).between(36,50), "36-50")
                      .otherwise("51+")
                      )

age_grp.show()

+-------+---+------+-------------+--------+---------+
|user_id|age|gender|   occupation|zip_code|age_group|
+-------+---+------+-------------+--------+---------+
|      1| 24|     M|   technician|   85711|    18-25|
|      2| 53|     F|        other|   94043|      51+|
|      3| 23|     M|       writer|   32067|    18-25|
|      4| 24|     M|   technician|   43537|    18-25|
|      5| 33|     F|        other|   15213|    26-35|
|      6| 42|     M|    executive|   98101|    36-50|
|      7| 57|     M|administrator|   91344|      51+|
|      8| 36|     M|administrator|   05201|    36-50|
|      9| 29|     M|      student|   01002|    26-35|
|     10| 53|     M|       lawyer|   90703|      51+|
|     11| 39|     F|        other|   30329|    36-50|
|     12| 28|     F|        other|   06405|    26-35|
|     13| 47|     M|     educator|   29206|    36-50|
|     14| 45|     M|    scientist|   55106|    36-50|
|     15| 49|     F|     educator|   97301|    36-50|
|     16| 21|     M|entertainment|   10309|    18-25|
|     17| 30|     M|   programmer|   06355|    26-35|
|     18| 35|     F|        other|   37212|    26-35|
|     19| 40|     M|    librarian|   02138|    36-50|
|     20| 42|     F|    homemaker|   95660|    36-50|
+-------+---+------+-------------+--------+---------+
only showing top 20 rows

### Problem 5: Creating DataFrames and Converting to Spark Types
Problem: Given the provided code snippet, create a DataFrame df using the given data and schema. The schema includes columns for firstname, middlename, lastname, id, gender, and salary. After creating the DataFrame, print its schema and display its content without truncation.

In [22]:
from pyspark.sql import SparkSession

def create_session():
  spk = SparkSession.builder \
      .master("local") \
      .appName("dataframe_building") \
      .getOrCreate()
  return spk

spark1 = create_session()

23/08/30 15:49:02 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [4]:
df = spark1.createDataFrame([
    ("james","","smith","36636","M",3000),
    ("micheal","rose","","40288","M",4000),
    ("robert","","williams","42114","M",4000),
    ("maria","anne","jones","39192","F",4000),
    ("jen","mary","brown","","F",-1),
],["firstname","middlename","lastname","id","gender","salary"])

df.show()

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|   id|gender|salary|
+---------+----------+--------+-----+------+------+
|    james|          |   smith|36636|     M|  3000|
|  micheal|      rose|        |40288|     M|  4000|
|   robert|          |williams|42114|     M|  4000|
|    maria|      anne|   jones|39192|     F|  4000|
|      jen|      mary|   brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

In [5]:
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

### Problem 6: Adding and Renaming Columns
Problem: Add a new column "gender" to the existing DataFrame and rename the "Age" column to "Years".

In [16]:
from pyspark.sql.functions import lit,col

unknown_gender = occupation.withColumn("gender",lit("unknown"))
check = unknown_gender.withColumnRenamed("age","Years")
check.show()

+-------+-----+-------+-------------+--------+
|user_id|Years| gender|   occupation|zip_code|
+-------+-----+-------+-------------+--------+
|      1|   24|unknown|   technician|   85711|
|      2|   53|unknown|        other|   94043|
|      3|   23|unknown|       writer|   32067|
|      4|   24|unknown|   technician|   43537|
|      5|   33|unknown|        other|   15213|
|      6|   42|unknown|    executive|   98101|
|      7|   57|unknown|administrator|   91344|
|      8|   36|unknown|administrator|   05201|
|      9|   29|unknown|      student|   01002|
|     10|   53|unknown|       lawyer|   90703|
|     11|   39|unknown|        other|   30329|
|     12|   28|unknown|        other|   06405|
|     13|   47|unknown|     educator|   29206|
|     14|   45|unknown|    scientist|   55106|
|     15|   49|unknown|     educator|   97301|
|     16|   21|unknown|entertainment|   10309|
|     17|   30|unknown|   programmer|   06355|
|     18|   35|unknown|        other|   37212|
|     19|   40|unknown|    librarian|   02138|
|     20|   42|unknown|    homemaker|   95660|
+-------+-----+-------+-------------+--------+
only showing top 20 rows

### Problem 7: Filtering Rows and Sorting
Problem: Filter out users who are younger than 30 years and sort the DataFrame by age in descending order.

In [21]:
filtered_task = check.filter(occupation.age>30)
sorted_result = filtered_task.orderBy(occupation.age.desc())
sorted_result.show()

+-------+-----+-------+-------------+--------+
|user_id|Years| gender|   occupation|zip_code|
+-------+-----+-------+-------------+--------+
|    481|   73|unknown|      retired|   37771|
|    767|   70|unknown|     engineer|   00000|
|    803|   70|unknown|administrator|   78212|
|    860|   70|unknown|      retired|   48322|
|    559|   69|unknown|    executive|   10022|
|    585|   69|unknown|    librarian|   98501|
|    349|   68|unknown|      retired|   61455|
|    573|   68|unknown|      retired|   48911|
|    211|   66|unknown|     salesman|   32605|
|    318|   65|unknown|      retired|   06518|
|    564|   65|unknown|      retired|   94591|
|    651|   65|unknown|      retired|   02903|
|    423|   64|unknown|        other|   91606|
|    845|   64|unknown|       doctor|   97405|
|    364|   63|unknown|     engineer|   01810|
|    777|   63|unknown|   programmer|   01810|
|    858|   63|unknown|     educator|   09645|
|    266|   62|unknown|administrator|   78756|
|    520|   62|unknown|   healthcare|   12603|
|    106|   61|unknown|      retired|   55125|
+-------+-----+-------+-------------+--------+
only showing top 20 rows

+-------+-----+-------+-------------+--------+
|user_id|Years| gender|   occupation|zip_code|
+-------+-----+-------+-------------+--------+
|    481|   73|Unknown|      retired|   37771|
|    767|   70|Unknown|     engineer|   00000|
|    803|   70|Unknown|administrator|   78212|
|    860|   70|Unknown|      retired|   48322|
|    559|   69|Unknown|    executive|   10022|
|    585|   69|Unknown|    librarian|   98501|
|    349|   68|Unknown|      retired|   61455|
|    573|   68|Unknown|      retired|   48911|
|    211|   66|Unknown|     salesman|   32605|
|    318|   65|Unknown|      retired|   06518|
|    564|   65|Unknown|      retired|   94591|
|    651|   65|Unknown|      retired|   02903|
|    423|   64|Unknown|        other|   91606|
|    845|   64|Unknown|       doctor|   97405|
|    364|   63|Unknown|     engineer|   01810|
|    777|   63|Unknown|   programmer|   01810|
|    858|   63|Unknown|     educator|   09645|
|    266|   62|Unknown|administrator|   78756|
|    520|   62|Unknown|   healthcare|   12603|
|    351|   61|Unknown|     educator|   49938|
+-------+-----+-------+-------------+--------+
only showing top 20 rows

### Problem 8: Repartitioning and Collecting Rows
Problem: Repartition the DataFrame into 2 partitions without shuffling the data, then collect and display all rows in the driver and print number of partitions

In [39]:
# Repartition the DataFrame into 2 partitions without shuffling
repartitioned_df = df.coalesce(2)

# Collect and display all rows in the driver
all_rows = repartitioned_df.collect()
for row in all_rows:
    print(row)

# Get the number of partitions
num_partitions = repartitioned_df.rdd.getNumPartitions()
print(num_partitions)

Row(firstname='james', middlename='', lastname='smith', id='36636', gender='M', salary=3000)
Row(firstname='micheal', middlename='rose', lastname='', id='40288', gender='M', salary=4000)
Row(firstname='robert', middlename='', lastname='williams', id='42114', gender='M', salary=4000)
Row(firstname='maria', middlename='anne', lastname='jones', id='39192', gender='F', salary=4000)
Row(firstname='jen', middlename='mary', lastname='brown', id='', gender='F', salary=-1)
1

Number of partitions = 2

### Additional questions:

Use both spark SQL and Pyspark to obtain answer wherever relevant

#### Filter out rows where the age is greater than 30 and create a new DataFrame. Then, add a new column named "is_elderly" with a value of "True" for these rows and "False" otherwise.Rename the "gender" column to "sex".

In [ ]:
# Spark SQL

In [ ]:
# Pyspark

#### Calculate the average age of male and female users separately. Present the result in a new DataFrame with columns "gender" and "avg_age".

In [ ]:
# Spark SQL

In [ ]:
# Pyspark

#### Add a new column named "full_name" to the dataset by concatenating the "user_id" and "occupation" columns. Then, rename the "zip_code" column to "postal_code" in the same DataFrame.

In [ ]:
# Spark SQL

In [ ]:
# Pyspark

#### Filter out rows where occupation is 'technician', select only the "user_id" and "age" columns, and then add a new column "age_diff" that calculates the difference between the user's age and the average age in the dataset.

In [ ]:
# Spark SQL

In [ ]:
# Pyspark

#### Divide the dataset into two DataFrames: one with male users and another with female users. Repartition both DataFrames to have 2 partitions each. Then, union these two DataFrames together and display the resulting DataFrame.

#### Create and fill a new DataFrame named user_ratings with columns user_id and rating max 10 column. Both user_data and user_ratings share the user_id column. Combine these two DataFrames to create a new DataFrame that includes user information and their corresponding ratings. Make sure to keep only the users present in both DataFrames.